@mixin flex($justify){
    display: flex;
    align-items: center;
    justify-content: $justify;
}
@mixin text($c, $f, $s, $w){
    color: $c;
    font-family: $f;
    font-size: $s;
    font-weight: $w;
    text-decoration: none;
}
@mixin size($width, $height){
    width: $width;
    height: $height;
}