:root {
    --bg: #fff;
    --text: #5e5e5e;
    --text2: #333333;
    --accent: #75c5cf;
    --borders: #cccccc;
    --btn: #ffffff;
}

[data-theme="dark"]{
    --bg: #1a1a1a;
    --text: #b0b0b0;
    --text2: #e0e0e0;
    --accent: #8fd9e5;
    --borders: #404040;
}
