:root {
    --bg: #fff;
    --text: #5e5e5e;
    --text2: #333333;
    --accent: #75c5cf;
    --borders: #cccccc;
}

[data-theme="dark"]{
    --bg: #000000;
    --text: #ffffff;
    --text2: #c0bdbd;
    --accent: #75c5cf;
    --borders: #fb0000;
}
