@font-face {
  font-family: "sans";
  src: url(./../../../resources/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
:root {
  --bg: #fff;
  --text: #5e5e5e;
  --text2: #333333;
  --accent: #75c5cf;
  --borders: #cccccc;
}

[data-theme=dark] {
  --bg: #000000;
  --text: #ffffff;
  --text2: #c0bdbd;
  --accent: #75c5cf;
  --borders: #fb0000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid var(--borders);
}
header .wraper {
  position: relative;
  width: 1140px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .wraper .left {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
header .wraper .left img {
  width: 38.5px;
  height: 44px;
}
header .wraper .left nav {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0 0 0 40px;
  border-left: 1px solid var(--borders);
}
header .wraper .left nav a {
  color: var(--text);
  font-family: "sans";
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s ease;
}
header .wraper .left nav a:hover {
  color: var(--accent);
}
header .wraper .left nav .active {
  color: var(--accent);
}
header .wraper .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header .wraper .right button {
  width: 28px;
  height: 28px;
  border: 1px solid var(--accent);
  border-radius: 50%;
  background-color: var(--bg);
  cursor: pointer;
}
header .wraper .right select {
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  background-color: var(--bg);
  color: var(--text);
  font-family: "sans";
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
header .wraper .right .burgerMenu {
  display: none;
}
header .wraper .right .burgerMenu svg {
  width: 44px;
  height: 34px;
  stroke: var(--borders);
  border: 1px solid var(--borders);
  border-radius: 5px;
  cursor: pointer;
}
header .burgerNav {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--bg);
  flex-direction: column;
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}
header .burgerNav a {
  border-top: 1px solid var(--borders);
  width: 100%;
  padding: 20px 0 20px 20px;
  color: var(--text);
  font-family: "sans";
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s ease;
}
header .burgerNav a:hover {
  color: var(--accent);
}
header .burgerNav .active {
  color: var(--accent);
}
header .burgerNav.toggle {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 901px) {
  .burgerNav {
    display: none;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  header .wraper {
    width: 90%;
    height: 84px;
  }
}
@media screen and (min-width: 301px) and (max-width: 900px) {
  header {
    position: relative;
  }
  header .wraper {
    width: 90%;
    height: 84px;
  }
  header .wraper .left nav {
    display: none;
  }
  header .wraper .right .burgerMenu {
    display: inline;
  }
}
footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  background-color: #272727;
}
footer .wraper {
  width: 1140px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer .wraper p {
  color: #c1c1c1;
  font-family: "sans";
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  footer .wraper {
    width: 90%;
    height: 74px;
  }
}
@media screen and (min-width: 301px) and (max-width: 900px) {
  footer .wraper {
    width: 90%;
    height: 74px;
    justify-content: center;
  }
}
body {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg);
  transition: all 0.3s ease;
}

#homePage {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: clamp(0.938rem, 0.417rem + 2.778vw, 3.75rem);
}
#homePage .first {
  width: 100%;
  height: auto;
}
#homePage .first img {
  width: 100%;
  height: auto;
  position: relative;
}
#homePage .first div {
  position: absolute;
  top: 12%;
  right: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: clamp(0.313rem, 0.139rem + 0.926vw, 1.25rem);
}
#homePage .first div h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.063rem, 0.016rem + 0.247vw, 0.313rem);
  color: #fff;
  font-family: "sans";
  font-size: clamp(0.688rem, 0.294rem + 2.099vw, 2.813rem);
  font-weight: 600;
  text-decoration: none;
}
#homePage .first div h3 svg {
  fill: #fff;
  width: clamp(0.188rem, -0.009rem + 1.049vw, 1.25rem);
  height: clamp(0.375rem, 0.155rem + 1.173vw, 1.563rem);
}
#homePage .first div h4 {
  color: #fff;
  font-family: "sans";
  font-size: clamp(0.438rem, 0.171rem + 1.42vw, 1.875rem);
  font-weight: 400;
  text-decoration: none;
}
#homePage .first div button {
  width: clamp(4.375rem, 3.796rem + 3.086vw, 7.5rem);
  height: clamp(1.625rem, 1.387rem + 1.272vw, 2.913rem);
  color: #fff;
  font-family: "sans";
  font-size: clamp(0.625rem, 0.579rem + 0.247vw, 0.875rem);
  font-weight: 700;
  text-decoration: none;
  background-color: #e331bf;
  border: 1px solid #bf159d;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#homePage .first div button:hover {
  background-color: #ff57dd;
}
#homePage .favoriteRooms {
  width: 1140px;
  height: auto;
}
#homePage .favoriteRooms .title {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#homePage .favoriteRooms .title h2 {
  color: var(--text);
  font-family: "sans";
  font-size: clamp(0.875rem, 0.759rem + 0.617vw, 1.5rem);
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}
#homePage .favoriteRooms .title span {
  width: 410px;
  height: 2px;
  background-color: var(--text);
}
#homePage .favoriteRooms .container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
#homePage .uspSection {
  width: 1140px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}
#homePage .uspSection .title {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#homePage .uspSection .title h2 {
  color: var(--text);
  font-family: "sans";
  font-size: clamp(0.875rem, 0.759rem + 0.617vw, 1.5rem);
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}
#homePage .uspSection .title span {
  width: 410px;
  height: 2px;
  background-color: var(--text);
}
#homePage .uspSection .container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#homePage .uspSection .container .box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
  width: 23%;
  height: auto;
}
#homePage .uspSection .container .box .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 82px;
  border: 1px solid var(--accent);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
}
#homePage .uspSection .container .box .circle svg {
  fill: var(--accent);
  width: 18px;
  height: 18px;
}
#homePage .uspSection .container .box .circle:hover {
  background-color: var(--accent);
}
#homePage .uspSection .container .box .circle:hover svg {
  fill: var(--bg);
}
#homePage .uspSection .container .box h4 {
  color: var(--text);
  font-family: "sans";
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}
#homePage .uspSection .container .box p {
  color: var(--text2);
  font-family: "sans";
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
}
#homePage .uspSection .container .box a {
  color: var(--accent);
  font-family: "sans";
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s ease;
}
#homePage .uspSection .container .box a:hover {
  color: var(--text);
}

#hotelsPage {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: clamp(0.938rem, 0.417rem + 2.778vw, 3.75rem);
}
#hotelsPage .cities {
  width: 1140px;
  height: auto;
  margin-top: clamp(0.938rem, 0.417rem + 2.778vw, 3.75rem);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
#hotelsPage .cities .city {
  border-radius: 5px;
  width: auto;
  height: auto;
  padding: 10px 15px;
  color: var(--text);
  font-family: "sans";
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}
#hotelsPage .cities .city:hover {
  background-color: rgba(143, 143, 143, 0.2039215686);
  opacity: 0.8;
}
#hotelsPage .cities .all {
  color: #fff;
  background-color: var(--accent);
  transition: all 0.3s ease;
}
#hotelsPage .cities .all:hover {
  background-color: var(--accent);
  opacity: 0.8;
}
#hotelsPage .container {
  margin-bottom: clamp(3.125rem, -1.658rem + 17.007vw, 18.75rem);
  width: 1140px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#hotelsPage .container .card {
  width: 356px;
  height: 283px;
  border: 1px solid var(--borders);
  overflow: hidden;
  cursor: pointer;
}
#hotelsPage .container .card img {
  width: 100%;
  height: 80.5%;
  object-fit: cover;
  transition: transform 0.3s ease;
  transform: translateY(0);
}
#hotelsPage .container .card .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 19.5%;
  transition: transform 0.3s ease;
  transform: translateY(0);
}
#hotelsPage .container .card .info p {
  color: var(--text);
  font-family: "sans";
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  padding: 0 0 0 20px;
}
#hotelsPage .container .card .info .price {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  border-left: 1px solid var(--borders);
  padding: 0 20px;
  background-color: rgba(95, 201, 215, 0.1294117647);
}
#hotelsPage .container .card .info .price h5 {
  color: var(--accent);
  font-family: "sans";
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
#hotelsPage .container .card .info .price h6 {
  color: var(--text2);
  font-family: "sans";
  font-size: 11px;
  font-weight: 400;
  text-decoration: none;
}
#hotelsPage .container .card button {
  width: 100%;
  height: 44px;
  border: 1px solid #3b97a3;
  border-radius: 5px;
  color: #fff;
  font-family: "sans";
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--accent);
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: translateY(0);
}
#hotelsPage .container .card:hover img {
  transform: translateY(-100%);
}
#hotelsPage .container .card:hover .info, #hotelsPage .container .card:hover button {
  transform: translateY(-230px);
}

#BookedRoomsPage {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: clamp(0.938rem, 0.417rem + 2.778vw, 3.75rem);
}
#BookedRoomsPage .cities {
  width: 1140px;
  height: auto;
  margin-top: clamp(0.938rem, 0.417rem + 2.778vw, 3.75rem);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
#BookedRoomsPage .cities .city {
  border-radius: 5px;
  width: auto;
  height: auto;
  padding: 10px 15px;
  color: var(--text);
  font-family: "sans";
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}
#BookedRoomsPage .cities .city:hover {
  background-color: rgba(143, 143, 143, 0.2039215686);
  opacity: 0.8;
}
#BookedRoomsPage .cities .all {
  color: #fff;
  background-color: var(--accent);
  transition: all 0.3s ease;
}
#BookedRoomsPage .cities .all:hover {
  background-color: var(--accent);
  opacity: 0.8;
}
#BookedRoomsPage .container {
  width: 1140px;
  height: auto;
}
#BookedRoomsPage .container table {
  width: 100%;
  height: auto;
}
#BookedRoomsPage .container table thead {
  border-bottom: 1px solid var(--borders);
}
#BookedRoomsPage .container table thead tr th {
  width: auto;
  height: auto;
  color: var(--text2);
  font-family: "sans";
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
}
#BookedRoomsPage .container table tbody tr {
  border-top: 1px solid var(--borders);
}
#BookedRoomsPage .container table tbody tr td .Hotel, #BookedRoomsPage .container table tbody tr td .Room, #BookedRoomsPage .container table tbody tr td .Customer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#BookedRoomsPage .container table tbody tr td .Hotel img, #BookedRoomsPage .container table tbody tr td .Room img, #BookedRoomsPage .container table tbody tr td .Customer img {
  width: 45px;
  height: 45px;
}
#BookedRoomsPage .container table tbody tr td .Hotel div, #BookedRoomsPage .container table tbody tr td .Room div, #BookedRoomsPage .container table tbody tr td .Customer div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
#BookedRoomsPage .container table tbody tr td .Hotel div h5, #BookedRoomsPage .container table tbody tr td .Room div h5, #BookedRoomsPage .container table tbody tr td .Customer div h5 {
  color: var(--text2);
  font-family: "sans";
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
}
#BookedRoomsPage .container table tbody tr td .Hotel div p, #BookedRoomsPage .container table tbody tr td .Room div p, #BookedRoomsPage .container table tbody tr td .Customer div p {
  color: #777;
  font-family: "sans";
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}
#BookedRoomsPage .container table tbody tr td .Status div {
  width: auto;
  height: auto;
  padding: 3px 7px;
  border-radius: 5px;
  background-color: var(--borders);
  color: #fff;
  font-family: "sans";
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}
#BookedRoomsPage .container table tbody tr td h5 {
  color: var(--text2);
  font-family: "sans";
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
}

#roomsPage {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: clamp(0.938rem, 0.417rem + 2.778vw, 3.75rem);
}
#roomsPage .types {
  width: 1140px;
  height: auto;
  margin-top: clamp(0.938rem, 0.417rem + 2.778vw, 3.75rem);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
#roomsPage .types .roomType {
  border-radius: 5px;
  width: auto;
  height: auto;
  padding: 10px 15px;
  color: var(--text);
  font-family: "sans";
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}
#roomsPage .types .roomType:hover {
  background-color: rgba(143, 143, 143, 0.2039215686);
  opacity: 0.8;
}
#roomsPage .types .all {
  color: #fff;
  background-color: var(--accent);
  transition: all 0.3s ease;
}
#roomsPage .types .all:hover {
  background-color: var(--accent);
  opacity: 0.8;
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  #homePage .favoriteRooms, #homePage .uspSection {
    width: 90%;
    height: auto;
  }
  #homePage .favoriteRooms .title span, #homePage .uspSection .title span {
    width: 30%;
  }
  #hotelsPage .cities, #hotelsPage .container {
    width: 90%;
    height: auto;
  }
  #hotelsPage .container .card {
    width: 263px;
    height: 215px;
  }
  #BookedRoomsPage .cities, #BookedRoomsPage .container {
    width: 90%;
    height: auto;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  #homePage .favoriteRooms, #homePage .uspSection {
    width: 90%;
    height: auto;
  }
  #homePage .favoriteRooms .title span, #homePage .uspSection .title span {
    width: 30%;
  }
  #hotelsPage .cities {
    display: none;
  }
  #hotelsPage .container {
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
  }
  #hotelsPage .container .card {
    width: 100%;
    height: auto;
  }
  #hotelsPage .container .card .info {
    height: 55px;
  }
  #hotelsPage .container .card:hover img, #hotelsPage .container .card:hover .info, #hotelsPage .container .card:hover button {
    transform: none;
  }
  #BookedRoomsPage .cities {
    display: none;
  }
  #BookedRoomsPage .container {
    width: 90%;
    height: auto;
  }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  #homePage .first div {
    top: 10%;
    right: 14%;
  }
  #homePage .favoriteRooms, #homePage .uspSection {
    width: 90%;
    height: auto;
  }
  #homePage .favoriteRooms .title span, #homePage .uspSection .title span {
    width: 30%;
  }
  #homePage .uspSection .container {
    flex-direction: column;
    gap: 20px;
  }
  #homePage .uspSection .container .box {
    width: 100%;
    gap: 10px;
  }
  #hotelsPage .cities {
    display: none;
  }
  #hotelsPage .container {
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
  }
  #hotelsPage .container .card {
    width: 100%;
    height: auto;
  }
  #hotelsPage .container .card .info {
    height: 55px;
  }
  #hotelsPage .container .card:hover img, #hotelsPage .container .card:hover .info, #hotelsPage .container .card:hover button {
    transform: none;
  }
  #BookedRoomsPage .cities {
    display: none;
  }
  #BookedRoomsPage .container {
    width: 90%;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */