footer {
    @include size(100%, auto);
    @include flex(center);
    margin-top: 60px;
    background-color: #272727;
    .wraper {
        @include size(1140px, 74px);
        @include flex(flex-start);
        p {
            @include text(#c1c1c1, 12px, 400);
        }
    }
}

@media screen and (min-width: 901px) and (max-width: 1200px){
    footer {
        .wraper {
            @include size(90%, 74px);
        }
    }

}
@media screen and (min-width: 301px) and (max-width: 900px){
    footer {
        .wraper {
            @include size(90%, 74px);
            justify-content: center;
        }
    }
}