@import "./base/fonts";
@import "./base/mixins";
@import "./base/variables";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import "./components/header";
@import "./components/footer";
body {
    
}
