@import "./base/fonts";
@import "./base/mixins";
@import "./base/variables";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import "./components/header";
@import "./components/footer";
body {
    @include size(100%, auto);
    @include flex(center);
    flex-direction: column;
    background-color: var(--bg);
    transition: all 0.3s ease;
}
#homePage {
    @include size(100%, auto);
    @include flex(center);
    flex-direction: column;
    gap: clamp(0.938rem, 0.417rem + 2.778vw, 3.75rem);
    .first {
        @include size(100%, auto);
        img {
            @include size(100%, auto);
            position: relative;
        }
        div {
            position: absolute;
            top: 12%;
            right: 14%;
            @include flex(center);
            flex-direction: column;
            gap: clamp(0.313rem, 0.139rem + 0.926vw, 1.25rem);
            h3 {
                @include flex(center);
                gap: clamp(0.063rem, 0.016rem + 0.247vw, 0.313rem);
                @include text(#fff, clamp(0.688rem, 0.294rem + 2.099vw, 2.813rem), 600);
                svg {
                    fill: #fff;
                    @include size(clamp(0.188rem, -0.009rem + 1.049vw, 1.25rem), clamp(0.375rem, 0.155rem + 1.173vw, 1.563rem));
                }
            }
            h4 {
                @include text(#fff, clamp(0.438rem, 0.171rem + 1.42vw, 1.875rem), 400);
            }
            button {
                @include size(clamp(4.375rem, 3.796rem + 3.086vw, 7.5rem), clamp(1.625rem, 1.387rem + 1.272vw, 2.913rem));
                @include text(#fff, clamp(0.625rem, 0.579rem + 0.247vw, 0.875rem), 700);
                background-color: #e331bf;
                border: 1px solid #bf159d;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease;
                &:hover {
                    background-color: #ff57dd;
                }
            }
        }
    }
    .favoriteRooms {
        @include size(1140px, auto);
        .title {
            @include size(100%, auto);
            @include flex(space-between);
            h2 {
                @include text(var(--text), clamp(0.875rem, 0.759rem + 0.617vw, 1.5rem), 600);
                text-align: center;
            }
            span {
                @include size(410px, 2px);
                background-color: var(--text);
            }
        }
        .container {
            @include size(100%, auto);
            @include flex(flex-start);
            flex-wrap: wrap;
            gap: 20px;
            padding-top: 40px;
                .card {
                @include size(356px, 283px);
                border: 1px solid var(--borders);
                overflow: hidden;
                cursor: pointer;
                img {
                    @include size(100%, 80.5%);
                    object-fit: cover;
                    transition: transform 0.3s ease;
                    transform: translateY(0);
                }
                .info {
                    @include flex(space-between);
                    height: 19.5%;
                    transition: transform 0.3s ease;
                    transform: translateY(0);
                    p  {
                        @include text(var(--text), 12px, 700);
                        padding: 0 0 0 20px;
                    }
                    .price {
                        height: 100%;
                        @include flex(center);
                        flex-direction: column;
                        gap: 5px;
                        border-left: 1px solid var(--borders);
                        padding: 0 20px;
                        background-color: #5fc9d721;
                        h5 {
                            @include text(var(--accent), 18px, 700);
                        }
                        h6 {
                            @include text(var(--text2), 11px, 400);
                        }
                    }  
                }
                button {
                    @include size(100%, 44px);
                    border: 1px solid #3b97a3;
                    border-radius: 5px;
                    @include text(var(--bg), 14px, 600);
                    background-color: var(--accent);
                    cursor: pointer;
                    transition: transform 0.3s ease;
                    transform: translateY(0);
                }
                &:hover {
                    img {
                        transform: translateY(-100%);
                    }
                    .info, button {
                        transform: translateY(-230px);
                    }
                }
            }   
        }
    }
    .uspSection{
        @include size(1140px, auto);
        @include flex(center);
        flex-direction: column;
        gap: 60px;
        .title {
            @include size(100%, auto);
            @include flex(space-between);
            h2 {
                @include text(var(--text), clamp(0.875rem, 0.759rem + 0.617vw, 1.5rem), 600);
                text-align: center;
            }
            span {
                @include size(410px, 2px);
                background-color: var(--text);
            }
        }
        .container {
            @include size(100%, auto);
            @include flex(space-between);
            .box {
                @include flex(center);
                gap: 5px;
                flex-direction: column;
                @include size(23%, auto);
                .circle {
                    @include flex(center);
                    @include size(82px, 82px);
                    border: 1px solid var(--accent);
                    border-radius: 50%;
                    cursor: pointer;
                    transition: all 0.5s ease;
                    svg {
                        fill: var(--accent);
                        @include size(18px, 18px);
                    }
                    &:hover {
                        background-color: var(--accent);
                        svg {
                            fill: var(--bg);
                        }
                    }

                }
                h4 {
                    @include text(var(--text), 18px, 600);
                    text-align: center
                }
                p {
                    @include text(var(--text2), 13px, 400);
                    text-align: center
                }
                a {
                    @include text(var(--accent), 13px, 700);
                    transition: color 0.3s ease;
                    &:hover {
                        color: var(--text);
                    }
                }
            }
        }
    }
}
#hotelsPage {
    @include size(100%, auto);
    @include flex(center);
    flex-direction: column;
    gap: clamp(0.938rem, 0.417rem + 2.778vw, 3.75rem);
    .cities {
        @include size(1140px, auto);
        margin-top: clamp(0.938rem, 0.417rem + 2.778vw, 3.75rem);
        @include flex(flex-start);
        gap: 5px;
        .city {
            border-radius: 5px;
            @include size(auto, auto);
            padding: 10px 15px;
            @include text(var(--text), 13px, 400);
            cursor: pointer;
            transition: all 0.3s ease;
            text-align: center;
            &:hover {
                background-color: #8f8f8f34;
                opacity: 0.8;   
            }
        }
        .all {
            color: #fff;
            background-color: var(--accent);
            transition: all 0.3s ease;
            &:hover {
                background-color: var(--accent);
                opacity: 0.8;
            }
        }
    }
    .container {
        margin-bottom: clamp(3.125rem, -1.658rem + 17.007vw, 18.75rem);
        @include size(1140px, auto);
        @include flex(space-between);
        .card {
            @include size(356px, 283px);
            border: 1px solid var(--borders);
            overflow: hidden;
            cursor: pointer;
            img {
                @include size(100%, 80.5%);
                object-fit: cover;
                transition: transform 0.3s ease;
                transform: translateY(0);
            }
            .info {
                @include flex(space-between);
                height: 19.5%;
                transition: transform 0.3s ease;
                transform: translateY(0);
                p  {
                    @include text(var(--text), 12px, 700);
                    padding: 0 0 0 20px;
                }
                .price {
                    height: 100%;
                    @include flex(center);
                    flex-direction: column;
                    gap: 5px;
                    border-left: 1px solid var(--borders);
                    padding: 0 20px;
                    background-color: #5fc9d721;
                    h5 {
                        @include text(var(--accent), 18px, 700);
                    }
                    h6 {
                        @include text(var(--text2), 11px, 400)
                    }
                }  
            }
            button {
                @include size(100%, 44px);
                border: 1px solid #3b97a3;
                border-radius: 5px;
                @include text(#fff, 14px, 600);
                background-color: var(--accent);
                cursor: pointer;
                transition: transform 0.3s ease;
                transform: translateY(0);
            }
            &:hover {
                img {
                    transform: translateY(-100%);
                }
                .info, button {
                    transform: translateY(-230px);
                }
            }
        }
    }
}
#BookedRoomsPage {
    @include size(100%, auto);
    @include flex(center);
    flex-direction: column;
    gap: clamp(0.938rem, 0.417rem + 2.778vw, 3.75rem);
    .cities {
        @include size(1140px, auto);
        margin-top: clamp(0.938rem, 0.417rem + 2.778vw, 3.75rem);
        @include flex(flex-start);
        gap: 5px;
        .city {
            border-radius: 5px;
            @include size(auto, auto);
            padding: 10px 15px;
            @include text(var(--text), 13px, 400);
            cursor: pointer;
            transition: all 0.3s ease;
            text-align: center;
            &:hover {
                background-color: #8f8f8f34;
                opacity: 0.8;   
            }
        }
        .all {
            color: #fff;
            background-color: var(--accent);
            transition: all 0.3s ease;
            &:hover {
                background-color: var(--accent);
                opacity: 0.8;
            }
        }
    }
    .container {
        @include size(1140px, auto);
        table {
            @include size(100%, auto);
            thead {
                border-bottom: 1px solid var(--borders);
                tr {

                    th {
                        @include size(auto, auto);
                        @include text(var(--text2), 13px, 700);
                    }
                }
            }
            tbody {
                
                tr {
                    border-top: 1px solid var(--borders);
                    td {
                        .Hotel, .Room, .Customer {
                            @include flex(center);
                            gap: 20px;
                            img {
                                @include size(45px, 45px);
                            }
                            div {
                                @include flex(center);
                                flex-direction: column;
                                gap: 15px;
                                h5 {
                                    @include text(var(--text2), 13px, 700);
                                }
                                p {
                                    @include text(#777, 13px, 400);
                                }
                            }
                        }
                        .Status div{
                            @include size(auto, auto);
                            padding: 3px 7px;
                            border-radius: 5px;
                            background-color: var(--borders);
                            @include text(#fff, 12px, 700);
                        }
                        h5 {
                            @include text(var(--text2), 13px, 700);
                        }
                    }
                }
            }
        }
    }
}
#roomsPage {
    @include size(100%, auto);
    @include flex(center);
    flex-direction: column;
    gap: clamp(0.938rem, 0.417rem + 2.778vw, 3.75rem);
    .types {
        @include size(1140px, auto);
        margin-top: clamp(0.938rem, 0.417rem + 2.778vw, 3.75rem);
        @include flex(flex-start);
        gap: 5px;
        .roomType {
            border-radius: 5px;
            @include size(auto, auto);
            padding: 10px 15px;
            @include text(var(--text), 13px, 400);
            cursor: pointer;
            transition: all 0.3s ease;
            text-align: center;
            &:hover {
                background-color: #8f8f8f34;
                opacity: 0.8;   
            }
        }
        .all {
            color: #fff;
            background-color: var(--accent);
            transition: all 0.3s ease;
            &:hover {
                background-color: var(--accent);
                opacity: 0.8;
            }
        }
    }
}


@media screen and (min-width: 901px) and (max-width: 1200px){
    #homePage {
        .favoriteRooms, .uspSection{
            @include size(90%, auto);
            .title span {
                width: 30%;
            }
        }
    }
    #hotelsPage {
        .cities, .container {
            @include size(90%, auto);
        }
        .container .card {
            @include size(263px, 215px);
        }
    }
    #BookedRoomsPage {
        .cities, .container {
            @include size(90%, auto);
        }
    }
}
@media screen and (min-width: 601px) and (max-width: 900px){
    #homePage {
        .favoriteRooms, .uspSection{
            @include size(90%, auto);
            .title span {
                width: 30%;
            }
        }
        .favoriteRooms .container {
            justify-content: center;
            .card {
                @include size(100%, auto);
                .info {
                    height: 55px;
                }
                &:hover {
                    img, .info, button {
                        transform: none;
                    }
                }
            }
        }
    }
    #hotelsPage {
        .cities {
            display: none;
        }
        .container {
            @include size(90%, auto);
            flex-wrap: wrap;
            gap: 50px;
            margin-top: 50px;
            .card {
                @include size(100%, auto);
                .info {
                    height: 55px;
                }
                &:hover {
                    img, .info, button {
                        transform: none;
                    }
                }
            }
        }
    }
    #BookedRoomsPage {
        .cities {
            display: none;
        }
        .container {
            @include size(90%, auto);
        }
    }
}
@media screen and (min-width: 300px) and (max-width: 600px){
    #homePage{
        .first div {
                top: 10%;
                right: 14%;
        }
        .favoriteRooms, .uspSection{
            @include size(90%, auto);
            .title span {
                width: 30%;
            }
        }
        .favoriteRooms .container {
            justify-content: center;
            .card {
                @include size(100%, auto);
                .info {
                    height: 55px;
                }
                &:hover {
                    img, .info, button {
                        transform: none;
                    }
                }
            }
        }
        .uspSection {
            .container {
                flex-direction: column;
                gap: 20px;
                .box {
                    width: 100%;
                    gap: 10px;
                }
            }
        }
    }
    #hotelsPage {
        .cities {
            display: none;
        }
        .container {
            @include size(90%, auto);
            flex-wrap: wrap;
            gap: 50px;
            margin-top: 50px;
            .card {
                @include size(100%, auto);
                .info {
                    height: 55px;
                }
                &:hover {
                    img, .info, button {
                        transform: none;
                    }
                }
            }
        }
    }
    #BookedRoomsPage {
        .cities {
            display: none;
        }
        .container {
            @include size(90%, auto);
        }
    }
}

// .card {
//     @include size(356px, 283px);
//     border: 1px solid var(--borders);
//     overflow: hidden;
//     cursor: pointer;
//     img {
//         @include size(100%, 80.5%);
//         object-fit: cover;
//         transition: transform 0.3s ease;
//         transform: translateY(0);
//     }
//     .info {
//         @include flex(space-between);
//         height: 19.5%;
//         transition: transform 0.3s ease;
//         transform: translateY(0);
//         p  {
//             @include text(var(--text), 12px, 700);
//             padding: 0 0 0 20px;
//         }
//         .price {
//             height: 100%;
//             @include flex(center);
//             flex-direction: column;
//             gap: 5px;
//             border-left: 1px solid var(--borders);
//             padding: 0 20px;
//             background-color: #5fc9d721;
//             h5 {
//                 @include text(var(--accent), 18px, 700);
//             }
//             h6 {
//                 @include text(var(--text2), 11px, 400)
//             }
//         }  
//     }
//     button {
//         @include size(100%, 44px);
//         border: 1px solid #3b97a3;
//         border-radius: 5px;
//         @include text(var(--bg), 14px, 600);
//         background-color: var(--accent);
//         cursor: pointer;
//         transition: transform 0.3s ease;
//         transform: translateY(0);
//     }
//     &:hover {
//         img {
//             transform: translateY(-100%);
//         }
//         .info, button {
//             transform: translateY(-230px);
//         }
//     }
// }

// <div class="card">
//     <img src="https://images.trvl-media.com/lodging/16000000/15840000/15835100/15835033/afdf2bac.jpg?impolicy=fcrop&w=1200&h=800&p=1&q=medium" alt="">
//     <div class="info">
//         <p>Premium Room</p>
//         <div class="price">
//             <h5>$ 199</h5>
//             <h6>a night</h6>
//         </div>
//     </div>
//     <button>BOOK NOW</button>
// </div>